* {
  font-family: "Outfit", sans-serif;
}

html {
  height: 100vh;
}

body {
  min-height: 100vh;
  background-color: #d5e1ef;
  display: flex;
  justify-content: center;
  align-content: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.qr-box {
  box-sizing: border-box;
  text-align: center;
  background-color: white;
  border-radius: 30px;
  width: 400px;
  padding: 25px;
  box-shadow: 0 0 1em #acacac4b;
}

.qr-img {
  width: 350px;
  border-radius: 15px;
}

p {
  font-size: 18px;
  color: dimgrey;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}
